/* 
  Table of Contents:
  1. Typography
  2. Standard
  3. Navigation
  4. About
  5. Work
  6. Education
  7. Skills
  8. Projects
  9. Contact
  10. Footer

  Font colours: 
  Dark Grey #292b2c (standard colour) 
  Light Grey #e7e7e7 (link colour)
  White #fff (colour to use on dark backgrounds)
*/

/* 1. Typography */
body {
  font-family: 'Raleway', sans-serif;
  color: #292b2c;
  -webkit-font-smoothing: subpixel-antialiased;
}

header,
h1,
h2,
h3,
h4,
h5,
h6,
#quote,
.date {
  font-family: 'Indie Flower', cursive;
}

a,
a:focus,
a:hover,
a:visited {
  color: #e7e7e7;
}

.date {
  font-size: 16px;
}

/* 2. Standard */
body {
  margin-top: 50px;
}

section {
  padding: 20px 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 920px;
  }
}

@media (min-width: 768px) {
  section .container {
    padding: 0;
  }
}

hr {
  border-color: #292b2c;
}

.thumbnail {
  border-style: none;
  display: inline-block;
}

/* 3. Navigation */
.navbar-nav {
  margin-bottom: 0;
}

.navbar-default,
.navbar-default .navbar-collapse {
  background-color: #fff;
  border-style: none;
}

.navbar-default .navbar-brand {
  font-size: 28px;
}

.navbar-default .navbar-nav > li > a {
  font-size: 20px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #292b2c;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
  background-color: #e7e7e7;
}

.navbar-default .navbar-toggle {
  border-color: #e7e7e7;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #292b2c;
}

/* 4. About */
#about {
  background-color: #25ced1;
}

#logo {
  border-radius: 50%;
  padding: 20px 0;
}

#quote {
  font-size: 18px;
}

/* 5. Work */
#work {
  background-color: #fc6471;
}

/* 6. Education */
#education {
  background-color: #f7b267;
}

/* 7. Skills */
#skills {
  background-color: #292b2c;
  color: #fff;
}

#skills img {
  padding: 20px 0;
}

#skills img:last-child {
  padding-bottom: 30px;
}

#skills .col-sm-3 {
  padding: 0;
}

/* 8. Projects */
#projects {
  background-color: #56e39f;
}

#projects .thumbnail {
  margin: 20px 0;
}

#projects .thumbnail:last-child {
  margin-bottom: 30px;
}

/* 9. Contact */
#contact {
  background-color: #6699cc; 
}

/* 10. Footer */
footer .social,
footer .social:focus,
footer .social:hover,
footer .social:visited {
  font-size: 32px;
}

footer a,
footer a:focus,
footer a:hover,
footer a:visited {
  color: #292b2c;
}