/* Standard */
body {
  font-family: 'Raleway', sans-serif;
  color: #292b2c;
  margin-top: 50px;
  -webkit-font-smoothing: subpixel-antialiased;
}

q,
h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-family: 'Indie Flower', cursive;
}

a,
a:focus,
a:hover,
a:visited {
  color: #e7e7e7; 
}

section {
  padding: 20px 0;
}

@media (min-width: 768px) {
  section .container {
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 920px;
  }
}

/* Navigation */
.navbar-nav {
  margin-bottom: 0;
}

.navbar-default,
.navbar-default .navbar-collapse {
  background-color: #fff;
  border-style: none;
}

.navbar-default .navbar-brand {
  font-size: 28px;
}

.navbar-default .navbar-nav > li > a {
  font-size: 20px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #292b2c;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
  background-color: #e7e7e7;
}

.navbar-default .navbar-toggle {
  border-color: #e7e7e7;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #292b2c;
}

/* About */
#about {
  background-color: #25ced1;
}

.logo {
  border-radius: 50%;
  padding: 20px 0;
}

q {
  font-size: 18px;
}

/*done up to here*/

/* Work */
#work {
  background-color: #fc6471;
}

/* Education */
#education {
  background-color: #F7B267;
}

/* Skills */
#skills {
  background-color: #292b2c;
}

/* Projects */
#projects {
    background-color: #56E39F;
}

/* Contact */
#contact {
    background-color: #6699CC; 
}